<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дарт Вейдер</title>
</head>
<body>

<h1 class="article-title">Darth Vader (Дарт Вейдер)</h1>
<div class="item-characteristic "><fieldset class="item-fieldgroup"><legend>Характеристики героя</legend>
    <div class="field field-name-field-hero-main-picture field-type-image field-label-hidden"><img src="./img/Darth Vader.jpg" width="270" height="338" alt="" /></div>
    <p><strong>Настоящее имя:</strong> Энакин Скайуокер</p>
    <p><strong>Раса:</strong>&nbsp;Человек</p>
    <p><strong>Пол:</strong>&nbsp;Мужской</p>
    <p><strong>Статус:</strong>&nbsp;мертв</p>
    <p><strong>Род занятий:</strong> Рыцарь-Джедай, Член Совета, Командор армии, Верховный Генерал Владыка Ситх</p>
    <p><strong>Дата рождения:</strong> 42 ДБЯ</p>
    <p><strong>Дата смерти:</strong> 4 ПБЯ</p>
    <p><strong>Родственники:</strong>&nbsp;Шми Скайуокер (мать), Люк Скайуокер (сын), Лея Органа (дочь), Кайло Рен (внук), Падме Амидала (жена)</p>
    <p><strong> Рост:</strong>&nbsp;135 см (рост Энакина в детстве), 188 см (рост взрослого Энакина), 202 см (в броне Дарта Вейдера)</p>
    <p><strong>Родная планета:</strong> Татуин</p>
    <p><strong>Оружие:</strong>&nbsp;голубой световой меч (в качестве джедая), зелёный (во время битвы на Джеонозисе), после перехода на тёмную сторону &mdash; красный световой меч</p>
    <p><strong>Принадлежность:</strong> Джедай, Галактическая Республика, Ситхи,&nbsp;Галактическая империя&nbsp;</p>

</body>
</html>